@import "./reset.scss";
@import "./mixin.scss";
@import "./commen.scss";
$ripple-color: #c462f6;
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap2 {
  width: 100%;
  height: 1000%;
  transition: 0.3s linear;
}

.page {
  width: 100%;
  height: 10%;
  padding: 22px 15px 0;
  position: relative;
}
.page1 {
  background: #db7419;
  .page-title {
    width: 260px;
  }
}
.page2 {
  background: #6439f1;
  .page-title {
    width: 162px;
  }
}
.page3 {
  background: #f13939;
  .page-title {
    width: 226px;
  }
}

.page4 {
  background: #ad26f3;
  .page-title {
    width: 194px;
  }
}

.page5 {
  background: #000000;
}

.page-title {
  height: 30px;
  margin: 40px auto 20px;
  img {
    @include img100;
  }
}
.page-text {
  width: 100%;
  height: 18px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.download-btn {
  width: 142px;
  height: 38px;
  background: rgba(255, 255, 255, 1);
  border-radius: 19px;
  margin: 50px auto 0;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
  color: #333333;
  position: relative;
  z-index: 2;
}
#page1-ani {
  width: 247px;
  height: 253px; 
}
.page1-content{
  width: 247px;
  height: 253px;
  position: relative;
  left: 50%;
  margin-left: -107px;
  bottom: -1rem;
}
.page3-content{
  width: 193px;
  height: 193px;
  margin: 20px auto 0;
  position: relative;
  bottom: -1rem;
}
#page3-ani {
  width: 193px;
  height: 193px;
  position: absolute;
  left: 0;
  bottom: -300%;
}
.page2-content{
  width: 3195px;
  height: 154px;
  position: relative;
  bottom: -3rem;
}
#page2-ani{
  width: 3195px;
  height: 154px;
  position: absolute;
  left: -2130px;
  .slider{
    width: 1065px;
    height: 154px;
    float: left;
    .car{
      width: 245px;
      height: 154px;
      float: left;
      margin-left: 110px;
    }
    .car3{
      svg{
        transform: scale(1.02) !important;
      }
    }
  }
}
#page4-warn {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  bottom: 26px;
  z-index: 0;
  .warn {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #c462f6;
    animation: ripple 2s linear infinite;
    @include centerC;
  }
  .huji {
    width: 45px;
    height: 90px;
    @include centerC;
    z-index: 1;
    img {
      @include img100;
    }
  }
  .man {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    img {
      @include img100;
    }
  }
  .runman{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    transform-origin: center center;
  }
  .huozhu {
    width: 57px;
    height: 66px;
    margin: tranceshalf(-66) 0 0 tranceshalf(-57);
    &.run{
      animation: huozhu 1000ms linear forwards;
    }
    
  }
  .siji {
    width: 53px;
    height: 66px;
    margin: tranceshalf(-66) 0 0 tranceshalf(-53);
    &.run{
      animation: siji 1000ms linear forwards;
    }
  }
  .xiuli {
    width: 50px;
    height: 68px;
    margin: tranceshalf(-68) 0 0 tranceshalf(-50);
    &.run{
      animation: xiuli 1000ms linear forwards;
    }
  }
}

.page-downbtn {
  width: 25px;
  height: 13px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -12.5px;
  transform-origin: center center;
  animation: downbtn 1500ms linear infinite;
  z-index: 1;
  bottom: 16px;
  img {
    @include img100;
  }
}
.hello {
  width: 77px;
  height: 36px;
  position: absolute;
  left: 20px;
  bottom: 120px;
  opacity: 0;
  transform-origin: center center;
  animation: hellomove 4000ms ease-in-out infinite;
  img {
    @include img100;
  }
}
.return-hello {
  width: 76px;
  height: 34px;
  position: absolute;
  right: 70px;
  bottom: 120px;
  opacity: 0;
  animation: returnomove 4000ms ease-in-out 1000ms infinite;
  img {
    @include img100;
  }
}

.logo-app{
  width: 115px;
  height: 115px;
  margin: 40% auto 0;
  img{
    @include img100;
  }
}
.logo-title{
  width: 93px;
  height: 22px;
  margin: 17px auto 0;
  img{
    @include img100;
  }
}
.page5-content{
  width: 142px;
  overflow: hidden;
  @include centerX;
  top: 20%;
}


@keyframes downbtn {
  0% {
    transform: translateY();
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hellomove {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translate(-50px, -100px) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate(-100px, -140px) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
}

@keyframes returnomove {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translate(100px, -80px) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate(120px, -120px) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba($ripple-color, 0.3),
      0 0 0 1rem rgba($ripple-color, 0.3), 0 0 0 2rem rgba($ripple-color, 0.3),
      0 0 0 5rem rgba($ripple-color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba($ripple-color, 0.3),
      0 0 0 2rem rgba($ripple-color, 0.3), 0 0 0 5rem rgba($ripple-color, 0.3),
      0 0 0 8rem rgba($ripple-color, 0);
  }
}

@keyframes rotateman{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes huozhu{
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  100% {
    transform: translate(20px,80px);
    opacity: 1;
  }
}
@keyframes siji{
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  100% {
    transform: translate(-80px,10px);
    opacity: 1;
  }
}
@keyframes xiuli{
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  100% {
    transform: translate(80px,-20px);
    opacity: 1;
  }
}